#! /bin/bash

readonly HERE=$(cd "$(dirname $0)" && pwd)

cd "${HERE}"/{{ clonedir }}

git fetch
git reset --hard
git checkout origin/master

cp "${HERE}"/etc/* .

./publish-arm --variant arm32v7
./publish-arm --variant raspbian